/* {
outline: 1px dotted #ff0000;
} */
@font-face {
  font-family: 'GreycliffCF-Light';
  src: url('fonts/GreycliffCF-Light.eot');
  src: url('fonts/GreycliffCF-Light.eot') format('embedded-opentype'),
  url('fonts/GreycliffCF-Light.woff2') format('woff2'),
  url('fonts/GreycliffCF-Light.woff') format('woff'),
  url('fonts/GreycliffCF-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'GreycliffCF-Medium';
  src: url('fonts/GreycliffCF-Medium.eot');
  src: url('fonts/GreycliffCF-Medium.eot') format('embedded-opentype'),
  url('fonts/GreycliffCF-Medium.woff2') format('woff2'),
  url('fonts/GreycliffCF-Medium.woff') format('woff'),
  url('fonts/GreycliffCF-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GreycliffCF-ExtraBold';
  src: url('fonts/GreycliffCF-ExtraBold.eot');
  src: url('fonts/GreycliffCF-ExtraBold.eot') format('embedded-opentype'),
  url('fonts/GreycliffCF-ExtraBold.woff2') format('woff2'),
  url('fonts/GreycliffCF-ExtraBold.woff') format('woff'),
  url('fonts/GreycliffCF-ExtraBold.ttf') format('truetype');
}
html, body {
overflow-x: hidden;
}
body {
  font-size: 100%;
}
h1, h2 {
  font-family:"GreycliffCF-ExtraBold", "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  font-size: ms(10);
  @include media('<956px') {
    font-size: ms(9);
  }
  @include media('<808px') {
    font-size: ms(8);
  }
  @include media('<684px') {
    font-size: ms(7);
  }
  letter-spacing: 2px;
}
h2 {
  font-size: ms(9);
}
h3 {
  font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: ms(6);
  @include media('<480px') {
    font-size: ms(4);
  }
  text-transform: uppercase;
  letter-spacing: 4px;
}
h1, h2, h3 {
  line-height: 1.2em;
}
p {
  font-family: "GreycliffCF-Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: ms(4);
  @include media('<956px') {
    font-size: ms(3);
  }
  @include media('<808px') {
    font-size: ms(2);
  }
  @include media('<684px') {
    font-size: ms(1);
  }
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.4em;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
// Main
main {
  @include cover-background('hero@1x.jpg');
  overflow: hidden;
}
.main__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.8);
}
.main__content {
  visibility: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  img {
    display: inline-block;
    margin: 0 auto;
  }
  h1 {
    font-family:"DemiBold", "Helvetica Neue", Helvetica, sans-serif;
    margin-top: -2.5px;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: $color2;
  }
  p {
    margin-bottom: 25px;
    text-transform: none;
    @include media('<684px') {
      padding: 0 10px;
    }
    .highlight {
      color: $color1;
      font-family: "GreycliffCF-ExtraBold", "Helvetica Neue", Helvetica, sans-serif;
    }
    .line-break::before {
      @include media('<684px') {
        content: "\A";
        white-space: pre;
      }
      @include media('<684px', 'landscape') {
        content: "";
        white-space: nowrap;
      }
    }
  }
  .call-to-action {
    display: inline-block;
    margin: -10px auto 0;
    padding: 10px 45px;
    font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
    font-size: ms(4);
    @include media('<956px') {
      padding: 10px 35px;
      font-size: ms(3);
    }
    @include media('<808px') {
      padding: 10px 25px;
      font-size: ms(2);
    }
    @include media('<684px') {
      margin-top: -25px;
      padding: 10px 15px;
      font-size: ms(1);
    }
    border-radius: 0;
    background-color: $color1;
    color: $white;
    font-size: ms(3);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    transition: all 0.45s ease;
    &:hover {
      cursor: pointer;
      outline: 1px solid $white;
      }
    }
}
.main__social {
  position: relative;
  top: 10px;
  img {
    padding: 0 10px;
  }
}
// Sections
section {
  text-align: center;
  article {
    padding: 125px 0;
    @include media('<480px') {
      padding: 75px 0;
    }
    @include media('<684px', 'landscape') {
      padding: 75px 0;
    }
    h1 {
      margin-bottom: 25px;
    }
  }
}
.one {
  @include cover-background('bp@1x.jpg');
  article {
    background-color: rgba($color2, 0.9);
  }
  h1 {
    color: $color1;
  }
  p {
    color: $white;
  }
}
.two {
  @include cover-background('bsl@1x.jpg');
  article {
    position: relative;
    background-color: rgba($white, 0.9);
    img {
      display: block;
      margin: 0 auto;
      position: absolute;;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  h1 {
    color: $color1;
  }
  p {
    color: $color2;
  }
}
.three {
  article {
    padding: 0;
    background-color: $color2;
    img {
      display: block;
      margin: 0 auto;
    }
    .left {
      padding: 150px;
      @include media('<480px') {
        padding: 75px 50px;
      }
      @include media('<684px', 'landscape') {
        padding: 75px 50px;
      }
      background-color: $color1;
    }
    .right {
      padding: 150px;
      @include media('<480px') {
        padding: 75px 50px;
      }
      @include media('<684px', 'landscape') {
        padding: 75px 50px;
      }
      background-color: $color2;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 50px;
    color: $white;
  }
}
.four {
  @include cover-background('pills@1x.jpg');
  article {
    padding: 125px 100px;
    @include media('<480px') {
      padding: 75px 5px;
    }
    background-color: rgba($color1, 0.9);
    text-align: center;
    div * {
      margin: 0;
    }
    img {
      padding-bottom: 75px;
      display: block;
      margin: 0 auto;
    }
    h3 {
      color: $white;
    }
    h3:first-of-type {
      margin-bottom: 50px;
      @include media('<992px') {
        margin-bottom: 25px;
      }
    }
  }
}
.five {
  article {
    padding: 150px 0;
    background: url(images/sos.png) repeat;
  }
  h1 {
    text-shadow: 2px 2px 2px rgba($white, 0.8);
    color: $color2;
  }
  h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    color: $color1;
  }
}
// Footer
footer {
  text-align: center;
  h1 {
    color: $white;
  }
}
// Footer contact
.contact__form {
  padding: 50px 0 50px;
  background-color: $color2;
  h3 {
    margin-bottom: 25px;
  }
}
// Footer form
label {
  display: block;
  width: 50%;
  @include media('<992px') {
    width: 62.5%;
  }
  @include media('<480px') {
    width: 75%;
  }
  top: 0;
  left: 0;
  margin: 5px auto;
  color: $white;
  font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: ms(4);
  @include media('<480px') {
    font-size: ms(2);
  }
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}
input[type=email], input[type=text] {
  box-shadow: none;
  width: 50%;
  @include media('<992px') {
    width: 62.5%;
  }
  @include media('<480px') {
    width: 75%;
  }
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid $white;
  margin: 5px auto;
  background: transparent;
  color: $white;
  font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: ms(2);
  font-weight: bold;
  letter-spacing: 2px;
  @include input-placeholder {
    padding-left: 4px;
    color: $white;
    font-size: ms(-1);
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2px;
  }
}
input[type=email]:hover, input[type=text]:hover {
  box-shadow: none;
  border-bottom: 3px solid $white;
  background: transparent;
  color: $white;
  font-weight: bold;
}
input[type=email]:focus, input[type=text]:focus {
  box-shadow: none;
  border-bottom: 3px solid $white;
  background: transparent;
  color: $white;
  font-weight: bold;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
}
#message {
  width: 50%;
  @include media('<992px') {
    width: 62.5%;
  }
  @include media('<480px') {
    width: 75%;
  }
  resize:vertical;
  max-height:150px;
  min-height:150px;
  border: 3px solid $white;
  border-radius: 0;
  margin: 50px auto;
  background: url(images/sos.png) repeat;
  background-color: $color2;
  font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  @include input-placeholder {
    color: $color2;
    font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
    font-size: ms(0);
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2px;
  }
  &:focus {
    color: $color2;
    font-weight: bold;
  }
}
.btn {
  padding: 10px 50px;
  border-radius: 0;
  margin: 0 auto;
  background-color: $color1;
  color: $white;
  font-family:"GreycliffCF-Medium", "Helvetica Neue", Helvetica, sans-serif;
  font-size: ms(4);
  @include media('<684px') {
    font-size: ms(1);
  }
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.btn:hover {
  color: $white;
  border: 1px solid $white;
}
.btn:focus {
  color: $white;
  border: 1px solid $white;
  outline: none;
}
#confirmation {
  opacity: 0;
  margin-top: 10px;
  p {
    color: $white;
    font-weight: bold;
  }
}
// Copyright
.copyright {
  padding: 75px 0;
  border-top: 2px solid $white;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC) repeat;
  background-color: $color2;
  color: $white;
  text-align: center;
  p {
    font-size: ms(4);
    text-transform: none;
    @include media('<684px') {
      font-size: ms(2);
    }
  }
  p:last-of-type {
    font-size: ms(0);
    text-transform: uppercase;
  }
  a:link, a:hover, a:visited {
    text-decoration:none;
    color: $white;
  }
}
