// Colors
$color1: #2D93E8; // Blue
$color2: #4C4C4C; // Grey
$white: #FFF; // White
$black: #000; // Black

// Include Media breakpoints
// 20em : 320px / 34em : 544px / 48em : 768px / 62em : 992px / 75em : 1200px
//$breakpoints: (
  //'small-phone': 20em,
  //'phone': 34em,
  //'tablet': 48em,
  //'desktop': 62em,
  //'big-desktop': 75em
//) !default;

// Modular Scale variables
//$ms-base:  1em      !default;
//$ms-ratio: $minor-third  !default;
//$ms-range: null     !default;
//$ms-fluid: true     !default;
